/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  background-color: white;
  background-color: #D6FFF6;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Weekday-Title{
  width: 50px;
  height: 100%;
  border-right: 3px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
}
